.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-decoration: none;
  color: black;
  font-family: 'Inter', sans-serif;
}

.title a {
  color: black;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  transition: 0.25s;
}

.title a:hover,
.title a:focus,
.title a:active {
  padding: 1.5rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  background-color: black;
  color: white
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-family: 'Inter', sans-serif;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif;
}

.code {
  background: black;
  color: #f8f8f8;
  border-radius: 22px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 12px;
  transition: color 0.25s ease, background-color 0.25s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: white;
  background-color: black;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
